<launch>
  <rosparam command="load" file="$(find path_planning)/params/path_planning_sim.yaml"/>
  <node pkg="slam_si" type="slam_si" name="slam_si" output="screen"/>
  <node
    pkg="path_planning"
    type="path_planning"
    name="path_planning" 
    output="screen"
  />

  <node pkg="rosservice" 
    type="rosservice" 
    name="set_path_planning_log_level" 
    args="call /path_planning/set_logger_level 'ros.path_planning' 'debug'" />
  
</launch> 
